In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import git
repo = git.Repo("./", search_parent_directories=True)
homedir = repo.working_dir

In [3]:
df = pd.read_csv(f"{homedir}/LTH_predictions.csv")

In [4]:
df.head()

                 id   10    20    30    40    50    60    70    80    90
0  2020-04-01-10001  0.0  0.00  0.00  0.00  0.00  0.10  0.28  0.47  0.74
1  2020-04-01-10003  0.0  0.03  0.38  0.67  0.93  1.24  1.45  1.79  2.29
2  2020-04-01-10005  0.0  0.21  0.56  0.74  0.89  1.00  1.12  1.31  1.70
3   2020-04-01-1001  0.0  0.00  0.00  0.00  0.03  0.15  0.28  0.49  0.73
4   2020-04-01-1003  0.0  0.00  0.00  0.00  0.00  0.00  0.01  0.01  0.01