In [24]:
import pandas as pd
import numpy as np

df = pd.read_csv('submission1_billy_kimba.csv', index_col=0)
df.tail()

                  10   20   30   40    50    60    70    80    90
id
2020-07-24-6073  0.0  0.0  0.0  0.0  0.00  0.26  0.52  0.76  1.27
2020-07-25-6073  0.0  0.0  0.0  0.0  0.04  0.30  0.56  0.85  1.31
2020-07-26-6073  0.0  0.0  0.0  0.0  0.03  0.26  0.51  0.86  1.27
2020-07-27-6073  0.0  0.0  0.0  0.0  0.01  0.30  0.56  0.86  1.28
2020-07-28-6073  0.0  0.0  0.0  0.0  0.00  0.27  0.52  0.84  1.27

In [2]:
ids = list(df['id'])
corrected_ids = []
for iD in ids:
    new_id = iD
    if (new_id[7] != '-'):
        new_id = new_id[:5] + '0' + new_id[5:]
    if (new_id[10] != '-'):
        new_id = new_id[:8] + '0' + new_id[8:]
    corrected_ids.append(new_id)
print(corrected_ids)

KeyError: 'id'

In [3]:
df['id'] = np.array(corrected_ids)
df.tail()

NameError: name 'corrected_ids' is not defined

In [25]:
ids = list(df.index)
remove_ids = set({})
for iD in ids:
    if not iD[6] in '456':
        remove_ids.add(iD)
print(len(remove_ids))
filter_set = set(ids) - remove_ids
df_nice = df.loc[filter_set]
df_nice.head()

29294

                   10   20   30   40   50   60   70   80   90
id
2020-05-04-18057  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2020-06-29-55081  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2020-06-07-28017  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2020-06-08-5049   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2020-04-20-48287  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [26]:
df_nice.reset_index(inplace=True)
df_nice.head()

                 id   10   20   30   40   50   60   70   80   90
0  2020-05-04-18057  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  2020-06-29-55081  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  2020-06-07-28017  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3   2020-06-08-5049  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  2020-04-20-48287  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [28]:
df2 = df_nice.drop_duplicates(subset='id', keep='last')
print(len(df2))

293293

In [29]:
df2.to_csv('corrected_submission1_billy_kimba.csv', index=False, float_format="%.2f")

In [13]:
print(len(df))

404744

In [16]:
print(len(filter_set))

293293

In [15]:
print(len(df_nice))

56910

In [12]:
print(len(df))

0